.eventBtn {
    background-color: #eeeeee;
    color: darkblue;
    height: 50px;
    width: 240px;
}

.eventJumpBtn {
    background-color: #555555;
    color: wheat;
    height: 50px;
    width: 240px;
}