body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.canvas {
    background-color: #eeeeee;
    color: darkblue;
    height: 200px;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    border-width: 5px;
    border-color: #333333;
}

.eventBtn {
    background-color: #eeeeee;
    color: darkblue;
    height: 80px;
    width: 80px;
    border-radius: 80px;
}

.eventJumpBtn {
    background-color: #555555;
    color: wheat;
    height: 80px;
    width: 80px;
    border-radius: 80px;
}

.creditBtn {
    background-color: #333333;
    color: wheat;
    height: 30px;
    width: 80px;
    border-radius: 15px;
}

.restartBtn {
    background-color: #eeeeee;
    color: darkblue;
    height: 30px;
    width: 80px;
    border-radius: 15px;
}

/* Responsive adjustments */
@media (max-width: 520px) {
    body {
        padding: 5px;
    }

    .eventJumpBtn {
        position: static;
        margin-top: 10px;
    }

    p {
        width: 100% !important;
        max-width: 500px;
    }
}